body{
    background-color: #F8F9FB;
}

.btn-grad-blue {
    background-image: linear-gradient(to top right, #12D8FA, #1FA2FF);
    border-radius: 2rem;
    border: none;
    font: normal 1.1rem "Rubik";
}

.btn-grad-blue:active {
    background-image: linear-gradient(to top right, #12D8FA, #1FA2FF);
    border: none;
}

.btn-grad-red {
    background-image: linear-gradient(to top right, #DD2476, #FF512F);
    border-radius: 2rem;
    border: none;
    font: normal 1.1rem "Rubik";
}

.btn-grad-red:active {
    background-image: linear-gradient(to top right, #DD2476, #FF512F);
    border: none;
}

.content{
    min-height: 100vh;
}

.title {
    color: #353A40;
    font: normal 3rem "Roboto";
}
