body{
    background: linear-gradient(to top left, #6C757E, #353A40 50%);
}

.btn-grad-red {
    background-image: linear-gradient(to top right, #DD2476, #FF512F);
    border-radius: 2rem;
    border: none;
    font: normal 1.25rem "Rubik";
}

.btn-grad-red:active {
    background-image: linear-gradient(to top right, #DD2476, #FF512F);
    border: none;
}

.btn-grad-violet {
    background-image: linear-gradient(to top right, #ff00cc, #333399);
    border-radius: 2rem;
    border: none;
    font: normal 1.25rem "Rubik";
}

.btn-grad-violet:active {
    background-image: linear-gradient(to top right, #ff00cc, #333399);
    border: none;
}

.content{
    min-height: 100vh;
}

.subtitle{
    color: #F8F9FB;
    font: normal 1.75rem "Rubik";
}

.title{
    font: normal 5rem "Roboto";
    background: linear-gradient(to right, #12D8FA, #1FA2FF 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}