body {
    background-color: #F8F9FB;
}

.back-button {
    font: bold 1rem "Rubik";
}

.btn-grad-blue {
    background-image: linear-gradient(to top right, #12D8FA, #1FA2FF);
    border: none;
    border-radius: 2rem;
}

.btn-grad-blue:active {
    background-image: linear-gradient(to top right, #12D8FA, #1FA2FF);
}

.back-button {
    font: bold 1rem "Rubik";
}

.content {
    font: normal 1rem "Rubik";
}

.h1 {
    font: normal 2.5rem "Roboto";
}

.register-link {
    font: normal .85rem "Rubik";
}