.btn-grad-violet {
    background-image: linear-gradient(to top right, #ff00cc, #333399);
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.btn-grad-violet:active {
    background-image: linear-gradient(to top right, #ff00cc, #333399);
    border: none;
}

.logout {
    border-radius: 2rem;
}

.nav-choice {
    font: normal 1.1rem "Rubik";
}
