<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | FindComputer</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Rubik&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link th:href="@{/css/register-style.css}" rel="stylesheet" />
</head>
<body>
<div class="container py-4">
    <div class="form-group">
        <div class="d-flex">
            <a th:href="@{/}">
                <button type="submit" class="btn btn-outline-dark back-button p-3">← Back to Home</button>
            </a>
        </div>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert"
         th:if="${param.success}">
        Congratulation! User is registered successfully.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert"
         th:if="${param.error}">
        Sorry, invalid username or password
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert"
         th:if="${param.logout}">
        User has been logged out
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row p-3">
        <div class="col col-md-6 d-none d-md-block">
            <!-- gambar -->
        </div>
        <div class="col col-md-6">
            <div class="mb-4 h1">Log In</div>
            <form th:action="@{/login}" method="post">
                <div class="form-group mb-3 content">
                    <label class="font-weight-bold" for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" />
                </div>
                <div class="form-group mb-2 content">
                    <label class="font-weight-bold" for="password">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" id="toggle">
                                <i class="fa fa-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <p class="text-left mb-4 register-link">Don't have an account? <a th:href="@{/register}">Sign Up</a></p>
                <button type="submit" class="btn-grad-blue text-white mb-3 content px-3 py-2">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $("#toggle").click(function (e) {
            if ($("#password").attr("type") == "password") {
                $("#password").attr("type", "text");
                $("i").attr("class", "fa fa-eye-slash");
            }
            else {
                $("#password").attr("type", "password");
                $("i").attr("class", "fa fa-eye");
            }
        })
    })
</script>
</html>