<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | FindComputer</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Rubik&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link th:href="@{/css/navbar-style.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/profile-style.css}" />
</head>
<body>
<div th:insert="navbar.html :: navbar"></div>
<div class="container py-4">
    <div class="row">
        <div class="col-md-5 py-4 px-5 d-none d-md-block">
            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                <img th:src="@{/image/user-logo.png}" style="width: 200px; height: 200px;" />
            </div>
        </div>
        <div class="col col-md-7 p-4">
            <div class="text-center h1 mb-4 title">Profile</div>
            <div class="form-group">
                <div class="content h3" id="first-name">First name</div>
                <p class="sub-content" id="first-name-input" th:text="${user.getFirstName()}"></p>
            </div>
            <div class="form-group">
                <div class="content h3" id="last-name">Last name</div>
                <p class="sub-content" id="last-name-input" th:text="${user.getLastName()}"></p>
            </div>
            <div class="form-group">
                <div class="content h3" id="email">Email</div>
                <p class="sub-content" id="email-input" th:text="${user.getEmail()}"></p>
            </div>
            <div class="d-flex">
                <button type="button" class="btn-grad-blue sub-content text-white px-3 py-2" id="edit" data-toggle="modal" data-target="#modal">
                    Edit Profile
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-add-item" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-bold" id="modal-title">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/home/profile}" th:object="${updatedUser}"  method="post">
                    <div class="modal-body">
                        <div class="form-group sub-content">
                            <label for="edit-first-name">First name</label>
                            <input type="text" class="form-control" id="edit-first-name" placeholder="Enter your first name" th:field="*{firstName}" th:required="required" th:value="${user.getFirstName()}"/>
                        </div>
                        <div class="form-group sub-content">
                            <label for="edit-last-name">Last Name</label>
                            <input type="text" class="form-control" id="edit-last-name" placeholder="Enter your last name" th:field="*{lastName}" th:required="required" th:value="${user.getLastName()}"/>
                        </div>
                        <div class="form-group sub-content">
                            <label for="edit-email">Email</label>
                            <input type="email" class="form-control" id="edit-email" placeholder="Enter your email" th:field="*{email}" th:required="required" th:value="${user.getEmail()}"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-info">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>