<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Search for: ' + ${search.toString()}  + ' | FindComputer'"></title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Rubik&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/2e70f0c3ff.js"></script>

    <link th:href="@{/css/navbar-style.css}" rel="stylesheet" />
    <link th:href="@{/css/search-style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="navbar.html :: navbar"></div>
<div class="container py-4">
    <div class="h1 title mb-4" th:text="'Search results for &quot;' + ${search.toString()} + '&quot;'"></div>
    <div th:each="idx : ${#numbers.sequence(0, numberOfUser, 3)}">
        <div class="d-flex justify-content-around">
            <div class="d-flex flex-column" th:if="${idx < numberOfUser}">
                <a th:href="@{/__${userList.get(idx).getUsername()}__}">
                    <button type="button" class="btn btn-secondary content-width">
                        <i class="fa fa-user-circle"></i>
                        <div class="text-truncate content p-2" th:text="${userList.get(idx).getUsername()}"></div>
                    </button>
                </a>
            </div>
            <div th:unless="${idx < numberOfUser}"></div>

            <div class="d-flex flex-column" th:if="${idx+1 < numberOfUser}">
                <a th:href="@{/__${userList.get(idx+1).getUsername()}__}">
                    <button type="button" class="btn btn-secondary content-width">
                        <i class="fa fa-user-circle"></i>
                        <div class="text-truncate content p-2" th:text="${userList.get(idx+1).getUsername()}"></div>
                    </button>
                </a>
            </div>
            <div th:unless="${idx+1 < numberOfUser}"></div>

            <div class="d-flex flex-column" th:if="${idx+2 < numberOfUser}">
                <a th:href="@{/__${userList.get(idx+2).getUsername()}__}">
                    <button type="button" class="btn btn-secondary content-width">
                        <i class="fa fa-user-circle"></i>
                        <div class="text-truncate content p-2" th:text="${userList.get(idx+2).getUsername()}"></div>
                    </button>
                </a>
            </div>
            <div th:unless="${idx+2 < numberOfUser}"></div>
        </div>
    </div>
</div>
</body>
</html>