<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${item.getName()} + ' | FindComputer'"></title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Rubik&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link th:href="@{/css/navbar-style.css}" rel="stylesheet" />
    <link th:href="@{/css/user-shop-item-detail-style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="navbar.html :: navbar"></div>
<div class="container py-4">
    <div class="row">
        <div class="col-md-5 py-4 px-5">
            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                <img th:src="@{/image/item-logo.png}" style="width: 275px; height: 275px;" />
            </div>
        </div>
        <div class="col col-md-7 p-4">
            <div class="title mb-4" th:text="${item.getName()}"></div>
            <div class="content">Price</div>
            <div class="sub-content mb-3" th:text="${item.getPrice()}"></div>
            <div class="content">Description</div>
            <div class="sub-content mb-3" th:text="${item.getDescription()}"></div>
            <div class="content">Category</div>
            <div class="sub-content mb-3" th:text="${item.getCategory()}"></div>
            <div class="content">Owner</div>
            <div class="sub-content mb-4" th:text="${item.getOwner().getUsername()}"></div>
            <div class="d-flex">
                <a th:href="@{/__${item.getOwner().getUsername()}__/item-list/delete/__${item.getId()}__}">
                    <button type="button" class="btn-grad-red text-white px-4 py-2">
                        <i class="fa fa-shopping-cart text-white"></i>   Buy Item
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>